@font-face {
  font-family: "pacman-letter";
  src: url("letters.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "pacman-numbers";
  src: url("numbers.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "pacman-heads";
  src: url("head.otf") format('truetype');
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
}

.container__board {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.container__actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.container__stadistics {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 3rem;
  color: white;
  row-gap: 2.5rem;
}

.container__stadistics__score, .container__stadistics__lives {
  font-family: 'pacman-letter';
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.container__stadistics__lives > #lives {
  font-family: 'pacman-heads';
  color: yellow;
  min-width: 90px;
  text-align: start;
  border: 1px solid white;
  padding: 10px;
}

.container__stadistics__score > #score {
  text-align: center;
  font-family: 'pacman-numbers';
  border: 1px solid white;
  padding: 10px;
}

canvas {
  border: 40px solid white;
  margin: auto 0;
}