@font-face {
  font-family: "pacman-letter";
  src: url("letters.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "pacman-numbers";
  src: url("numbers.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "pacman-heads";
  src: url("head.otf") format('truetype');
  font-style: normal;
}

body {
  margin: 0;
  background-image: url(../images/wallpaper/pacman-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none!important;
}

.container__homepage {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.container__game-over {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__game-over--info{
  width: 840px;
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../images/game-over/game-over.png);
  background-size: 45rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  border: 40px solid white;
  border-radius: 25px;
  background-color: black;
}

.container__game-over span {
  font-family: 'pacman-letter';
  font-size: 3.5rem;
  color: yellow;;
  transition: 0.25s ease-in-out;
  margin-bottom: 8rem;
}

.container__game-over span:hover {
  transform: scale(1.25);
  cursor: pointer;
  font-weight: bold;
}

.container__game-over--buttons {
  display: flex;
  gap: 3.5rem;
}

.container__info {
  width: 840px;
  height: 840px;
  font-family: 'pacman-numbers';
  background-image: url(../images/wallpaper/pacman-wallpaper.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border: 40px solid white;
  border-radius: 25px;
  background-color: black;
}

.container__actions {
  font-family: 'pacman-letter';
  display: flex;
  align-items: center;
  gap: 2.5rem;
  color: yellow;
}

#start-btn {
  font-size: 2rem;
}

.container__actions span {
  transition: 0.25s ease-in-out;
}

.container__actions span:hover {
  transform: scale(1.25);
  cursor: pointer;
  font-weight: bold;
}

#logo {
  width: 600px;
}

.container__board {
  height: 100vh;
  display: flex;
  position: relative;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.container__stadistics {
  position: absolute;
  left: 350px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: white;
  row-gap: 2.5rem;
}

.container__stadistics__score, .container__stadistics__lives {
  font-family: 'pacman-letter';
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.container__stadistics__lives > #lives {
  font-family: 'pacman-heads';
  color: yellow;
  min-width: 90px;
  min-height: 32px;
  text-align: start;
  border: 1px solid white;
  padding: 10px;
}

.container__stadistics__score > #score {
  text-align: center;
  font-family: 'pacman-numbers';
  border: 1px solid white;
  padding: 10px;
}

canvas {
  border-radius: 25px;
  border: 40px solid white;
  margin: auto 0;
  position: relative;
}